{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            {{ view.page_title }} | 4-Oh-4
        {% endblock %}
    </title>
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
</head>
<body b>
<div class="center-block" class=""
     style="width: 30%;margin-bottom:-50px; background-color: #1b6d85;padding: 10px; border-radius: 10px ;">
    {% block content %}
        CONTENT
    {% endblock %}
</div>
<img class="center-block" style="width: 20%; position: static; z-index: 3;" src="{% static "4-oh-4_logo.png" %}">


</body>
</html>