.col-md-4, .col-sm-6 {
    margin-bottom: 7px;
}

.em-card {
    box-shadow: 3px 3px 5px #888888;
    border-radius: 10px;
    height: 200px;
    width: 99%;
    margin: auto;
    padding: 10px;
    /*margin: 10px;*/
}

.em-card:hover {
    box-shadow: 0px 0px 0px #888888;

}

.search {
    margin: 15px 10%;
    width: 150px;
    vertical-align: bottom;
    -webkit-transition: width 0.3s ease-in;
    -moz-transition: width 0.3s ease-in;
    -o-transition: width 0.3s ease-in;
    transition: width 0.3s ease-in;
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png');
    background-size: 30px 30px;
    background-position: right top;
    background-repeat: no-repeat;
    /*transition: width 0.5s ease-in;*/
}

.search:focus {
    width: 300px;
}

.em-card span {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-bottom: 2px;
}

.em-card .card-links {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    right: 10%;
}

.em-card .card-links a div {
    color: white;
    width: 30px;

}

.em-card span small {
    color: white;

}
