amqp==1.4.9
anyjson==0.3.3
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
billiard==3.3.0.23
celery==3.1.23
decorator==4.0.9
Django==1.9.6
django-bootstrap3==7.0.1
django-extensions==1.6.7
ipython-genutils==0.1.0
kombu==3.0.35
pickleshare==0.7.2
Pillow==3.2.0
psycopg2==2.6.1
pyreadline==2.1
pytz==2016.4
requests==2.10.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
wikipedia==1.4.0
