{% extends "base.html" %}

{% block content %}

    <div style="width: 80%; margin: auto">
        {{ view.get_tip | safe }}
    </div>
    <a href="{% url "emessages:home" %}">4-Oh-4</a>

    {% if object_list.count %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Error Code</th>
                <th>Title</th>
                <th>Image URL</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.error_code }}</td>
                    <td>{{ object.title }}</td>
                    <td>
                        <a href="{{ object.get_absolute_image_url }}">
                            View photo
                        </a>
                        |
                        <a href="{% url "emessages:preview" err_id=object.error_code %}">Preview</a>
                        |
                        <a href="{% url "emessages:em_update" pk=object.error_code %}">Edit</a>
                        |
                        <a href="{% url 'emessages:delete_em' pk=object.error_code %}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    {% else %}
        No errors added yet. <a href="{% url "emessages:add" %}">Add an error message</a>
    {% endif %}


{% endblock %}