{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

    <div style="width: 80%; margin: auto">
        {{ view.get_tip | safe }}
    </div>
    <a href="{% url "emessages:home" %}">4-Oh-4</a>

    {% if object_list.count %}
        <br>
        <div class="row">
            {% for object in object_list %}
                <div class="col-sm-6 col-md-4">
                    <div class="em-card"
                         style="background:ghostwhite url('{{ object.get_absolute_image_url }}') no-repeat center;">
                        {#                    <div class="thumbnail" style="background-color: #9acfea; border: groove; height: 100%; margin-bottom: 10px;">#}
                        <h3><span>{{ object.error_code }}
                            <small> - {{ object.title }}</small></span></h3>

                        <p><span>{{ object.description|truncatechars:120 }}</span></p>
                        <div class="card-links">
                            <a href="{{ object.get_absolute_image_url }}">
                                <div class="glyphicon glyphicon-eye-open"></div>
                            </a>
                            |
                            <a href="{% url "emessages:preview" err_id=object.error_code %}"><div class="glyphicon glyphicon-camera"></div></a>
                            |
                            <a href="{% url "emessages:em_update" pk=object.error_code %}"><div class="glyphicon glyphicon-edit"></div></a>
                            |
                            <a href="{% url 'emessages:delete_em' pk=object.error_code %}"><div class="glyphicon glyphicon-remove"></div></a>
                        </div>

                    </div>
                </div>

            {% endfor %}
        </div>

    {% else %}
        No errors added yet. <a href="{% url "emessages:add" %}">Add an error message</a>
    {% endif %}
{% endblock %}